.texto_america {
    font-size: 4em;
    color: black;
}

.fotoCuenca, .fotoAntigua {
    display: block;
    margin: auto;
    width: 350px;
    height: 440px;
}

.fotoValdivia, .fotoTraverse, .fotoColonia {
        display: block;
        margin: auto;
        width: 450px;
        height: 300px;
}

