/*Estilos para la vista planificar.blade.php*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(../../img/italia.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
    box-shadow: none;
}

.imagen_bienvenida {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen_bienvenida {
    object-position: top;
}

.info_bienvenida {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
}

.texto-header {
    color: beige;
}

#cerrar:hover {
    color: rgb(176, 13, 13);
}

/*Responsividad en distintas pantallas*/
@media (max-width: 768px) {

    .imagen-plan {
        display: none;
    }

    .texto-header {
        margin-top: 40%;
        font-size: 1.5em;
    }

    .contenedor_imagen {
        height: 60vh;
    }

    .info_bienvenida {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .contenedor_imagen {
        height: 50vh;
    }

    .info_bienvenida {
        font-size: 1.2rem;
    }
}