/*Estilos para la vista registro.blade.php*/
.info_form {
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info_form {
    top: 30%;
}

.info_form h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 35px;
}

.tituloSesion {
	font-size: 0.5em;
	margin-top: 100%;
    text-align: center;
    padding-top: 7%;
    color: black;
}

#formulario {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    border: 2px solid #ba9677;
    background-color: #d7c0ab;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 5%;
}

#formulario div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

#formulario label {
    font-weight: bold;
    text-align: center; 
    margin-bottom: 5px;
}

#formulario input {
    border-color: #ba9677;
    height: 30px;
    border-width: 3.5px;
    border-radius: 5px;
    width: 80%; 
    max-width: 200px;
    text-align: center; 
}

.primero, .segundo, .tercero, .cuarto, .quinto {
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingreso {
	width: 150px;
	height: 30px;
    margin-top: 2%;
    text-align: center;
    background-color: brown;
    border-radius: 5px;
}

.ingreso:hover {
	background-color: #d7c0ab;
	color: white;
}

h3 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 10%;
}

.registrarUsuario {
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    padding: 0.7em 1em;
    color: black;
}

.registrarUsuario:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.obligatorio {
    color: rgb(189, 12, 12);
}

.marcado {
    font-weight: bold;
}