.tituloSesionInicio {
    text-align: center;
    padding-top: 15%;
    color: whitesmoke;
}

.info_formulario {
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info_formulario {
    top: 40%;
}

.info_formulario h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 35px;
}


#formulario {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    border: 5px solid #ba9677;
    background-color: #d7c0ab;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 5%;
}

form {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    border: 5px solid #ba9677;
    background-color: #d7c0ab;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del form */
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los labels e inputs */
    width: 100%;
}

form label {
    font-weight: bold;
    text-align: center; /* Centra el texto del label */
    margin-bottom: 5px;
}

form input {
    border-color: #ba9677;
    height: 30px;
    border-width: 3.5px;
    border-radius: 10px;
    width: 80%; /* Reduce el ancho del input para mejor visualización */
    max-width: 200px;
    text-align: center; /* Opcional: centra el texto dentro del input */
}

.dato1, .dato2 {
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingreso {
    margin-top: 2%;
    text-align: center;
    background-color: #ba9677;
    border-radius: 5px;
}

h3 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 10%;
}

.registrarUsuario {
    padding: 10px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding: 0.7em 1em;
    color: whitesmoke;
}

.registrarUsuario:hover {
    text-decoration: underline;
    color: white;
}