/* Estilos para la vista sesioniniciada.blade.php */

#videoPortada {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: -1;
}

#videoPortada video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cerrar:hover {
    color: rgb(176, 13, 13);
}

.entrada {
    margin-top: 20%;
    color: rgb(231, 231, 209);
    font-size: 3em;
}

/* Estilos responsivos */
@media (max-width: 1364px) {
    .entrada {
        margin-top: 50%;
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    .entrada {
        margin-top: 40%;
        font-size: 2em;
    }

    .footer_iniciado {
        padding: 0.5rem;
        font-size: 0.9em;
    }
}

@media (max-width: 460px) {
    .entrada {
        padding-top: 50%;
        font-size: 1.5em;
    }

    .footer_iniciado {
        padding: 0.5rem;
        font-size: 0.9em;
    }
}

